#!/usr/bin/make -f

# Output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@ --with gir

override_dh_auto_clean:
	rm -rf debian/build

override_dh_auto_configure:
	pip3 --no-cache-dir install 'meson >= 0.52, < 0.57' \
	&& PATH="/usr/local/bin:${PATH}" \
	&& mkdir -p debian/build \
	&& cd debian/build \
	&& CFLAGS="${CFLAGS} -DG_DISABLE_ASSERT" \
	&& meson \
		-Dgupnp=enabled \
		-Dgstreamer=enabled \
		-Dintrospection=enabled \
		-Dexamples=disabled \
		-Dtests=disabled \
		--prefix=/usr \
		../../

override_dh_auto_build:
	cd debian/build && ninja -v

override_dh_auto_test:
	# Tests are not built.
	#cd debian/build && ninja test
	true

override_dh_auto_install:
	cd debian/build && DESTDIR=${CURDIR}/debian/tmp ninja install

override_dh_install:
	dh_install --list-missing

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_strip:
	dh_strip --dbgsym-migration='libnice-dbg (<< 0.1.14)'
